@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: hidden;
  background-image: url('assets/shopping-cart-background.jpeg');
}

.cart-icon {
  transform: translate(-50%, -95%);
}
